@use "sass:color";
@import "../../css/_variables";
.card {
	padding: 0.5rem 0;
	// padding: 0.5rem;
	@include m7() {
		margin: 2rem;
	}
	color: black;
	// height: 100%;
	width: 100%;
	// @include m7(){
	//     width: 40%;
	// }
	// @include m12(){
	//     width: 30%;
	// }
	// @include m7(){
	//     padding: 1rem;
	// }
	// @include m12(){
	//     padding: 2rem;
	// }
	box-shadow: 0 0 0 0.125rem #dfdfdfc2;
}
.wrapperFlex {
	@include flex--center-col();
	color: black;
}
.flexJustifyCenter {
	@include flex--center();
	margin-bottom: 1rem;
}
.flexwidth50 {
	width: 48%;
	margin: 0;
	padding: 0;
}
.imgBlock {
	// width: 100%;
}
.img {
	max-width: 100%;
	height: auto;
}
.brand {
	margin: 0;
	width: 100%;
	font-weight: 600;
	text-transform: capitalize;
	text-align: center;
}
.title {
	width: 100%;
	text-align: center;
	text-transform: capitalize;
}
.seller {
	text-align: center;
    text-transform: capitalize;
    font-size: 12px;
    color: color.scale($black-1, $alpha: -30%);
}
.flex {
	margin: 0;
	width: 80%;
	@include flex--sp-btwn();
	font-weight: 600;
}
.msp {
	color: color.scale($black-1, $alpha: -40%);
	text-decoration: line-through;
}
.discount {
	// color: $p--color;
	font-weight: 800;
}

.boxShadow {
	box-shadow: 0 0 0 0.125rem rgba(66, 66, 66, 0.658);
}
.flexSpBtwn {
	width: 100%;
	@include flex--sp-arnd();
}
.wishlistBlock,
.removeBlock {
	@include flex--center();
	img {
		height: 2rem;
		width: 2rem;
	}
}
// .wishlistBlock{
//     width: 60%;
// }
// .removeBlock{
//     width: 40%;
// }
.flexCenter {
	@include flex--center();
}
.text {
	margin: 0;
	margin-left: 0.5rem;
	color: color.scale($black-1, $alpha: -15%);
}
