@use "sass:color";
@import "../../../css/_variables";
.card {
	padding: 0;
	@include flex--center-col();
	box-shadow: 0 0 0 0.125rem #dfdfdfc2;
}
.titleBlock {
	padding: 0.5rem;
	font-weight: 600;
	text-transform: uppercase;
}
.cardTitle {
	padding: 0 0.25rem;
	display: inline;
}
.productBlock {
	width: 100%;
	display: flex;
	margin-bottom: 1rem;
}
.productImage {
	width: 40%;
}
.title {
	text-transform: capitalize;
}
.img {
	max-width: 100%;
	height: auto;
}
.productDetails {
	width: 60%;
	@include flex--center-col();
}
.price {
	font-weight: 500;
}
.brand {
	font-weight: 600;
	text-transform: capitalize;
}
.seller {
	text-transform: capitalize;
	font-size: 12px;
	color: color.scale($black-1, $alpha: -30%);
}
.functionBlock {
	width: 100%;
	@include flex--sp-arnd();
}
