@use "sass:color";
@import "../../css/_variables";

.section {
	margin: 2rem 0;
	padding: 2rem 0;
	@include m7() {
		margin: 4rem 0;
		padding: 2rem 0;
	}
}

.noMarginTop {
	margin-bottom: 2rem;
	padding-bottom: 2rem;
	@include m7() {
		margin-bottom: 4rem;
		padding-bottom: 4rem;
	}
}

.noMarginBottom {
	margin-top: 2rem;
	padding-top: 2rem;
	@include m7() {
		margin-top: 4rem;
		padding-top: 4rem;
	}
}
