@use "sass:color";
@import "../../css/_variables";
.authLink {
	margin-top: 4rem;
}
.hr {
	height: 0;
	width: 100%;
	color: color.scale($p--color, $alpha: -5%);
	border-bottom: 2px solid color.scale($p--color, $alpha: -5%);
}
.unAuthenticBlock {
	@include m12() {
		@include flex--center-col();
	}
}
.unAuthenticLink {
	padding: 0.25rem 0.5rem;
	font-size: 1.25rem;
	font-weight: 600;
	color: color.scale($p--color, $alpha: -15%);
}
.authenticBlock {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
.authenticLink {
	padding: 0.25rem 0.5rem;
	font-size: 1.25rem;
	font-weight: 600;
	color: color.scale($black-1, $alpha: -15%);
}
