@use "sass:color";
@import "../../css/variables";

.formGroup {
	width: 100%;
	margin-bottom: 0.5rem;
}
.formControl {
	appearance: none;
	background: none white;
	border: 1px solid rgb(193, 199, 208);
	border-radius: 6px;
	box-sizing: border-box;
	font-family: inherit;
	font-size: 1rem;
	margin: 0px;
	min-width: 1px;
	padding: 8px 12px;
	transition: box-shadow 100ms linear 0s;
	vertical-align: middle;
	white-space: nowrap;
	color: inherit;
	width: 100%;

	&:hover {
		border-color: rgb(165, 173, 186);
		outline: 0px;
	}

	&:focus {
		border-color: rgb(38, 132, 255);
		outline: 0px;
	}
}
.formControlbkp {
	display: block;
	// width: 100%;
	// @include h4();
	// padding: 0.5rem 1rem;
	border: 1px solid $p--color;
	line-height: 1.2;
	&:focus {
		outline: 0;
		box-shadow: 0 0 0 0.09rem opacify($color: $p--color, $amount: 0.5);
	}
}
.label {
	display: block;
	line-height: 1.5;
	// text-transform: capitalize;
}
